@import 'normalize.scss';

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6;
}

nav {
	padding: 2em;
	border-bottom: 4px solid #222;

	.nav-wrapper {

		.site-logo {
			background-image: url(../../images/eardrum-logo.png);
			text-decoration: none;
			color: #000;
		}

		.search-container {
			margin: 0;
			padding: 0;
		}
	}
}

main {
	flex: 1;
	padding: 2em;

	.login-container {
		background-color: #D5E5F2;

		.register-box {

			margin: 1em;

			input {
				margin-top: 0.25em;
				border: 1px solid #979797;
				font-size: 1em;
				background: #fff;
				width: 40%;
				padding: 5px 8px;
				font-size: 1.2em;
				font-weight: bold;
				color: #666;
				border: none;
				background-color: #fff;
				border-radius: 4px;

				&:focus {
					-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
					-webkit-animation: pulse 1.5s infinite ease-in-out;
				}
			}

			.error-box {
				color: red;
			}
		}
	}
}

footer {
	background-color: #D5E5F2;
		margin: 0;
		padding: 1em;

	p {
		padding-left: 2em;

		a {
			color: #0F2859;

			&:hover {
				color: #5EA4BF;
			}
		}
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.1);
	}

	50% {
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.99);
	}

	100% {
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.1);
	}
}
