@import 'normalize.scss';

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6;
}

nav {
	border-bottom: 4px solid #555;

	.nav-wrapper {
		padding: 0;
		color: #000;

		.site-logo {
			padding: 1em 0 0 2em;
			text-decoration: none;
			display: inline-block;

			h1 {
				margin: 0;
			}
		}

		// & li:hover ul {
		// 	display: block;
		// }

		ul {
			// position: absolute;
			// display: none;
			// z-index: 999;

			& li a {
				// width: 80px;
			}
		}

		.nav-links {
			font-size: 1.25em;
			float: right;

			li {
				list-style: none;
				float: left;
				margin-right: 1em;

				&.active.nav-link {
						border-bottom: 2px solid #191959;
					}

				a {
					display: block;
					height: 2em;
					text-decoration: none;

					&:visited {
						color: #000;
					}
				}
			}
		}
	}
}


main {
	flex: 1;

	h1 {
		margin-top: 0;
	}

	.login-box, .register-box, .add-box {
		background-color: #D5E5F2;
		padding: 2em;
		margin: 2em;

		p {
			margin-bottom: 0;
			font-size: 1.2em;
		}

		input {
			margin-bottom: 0.5em;
		}

		.error-box {
			color: red;
		}
	}

	.home-container, .favorites-container {

		h1 {
			padding: 1em 0 0 2em;
		}

		.filter-container.filter-container {
			text-align: center;
			border-bottom: 4px solid #555;
			background-color: #D5E5F2;
			margin: 0 auto;
			padding: 0;

			input {
				margin-top: 0;
				margin: 0.5em;
			}

			button {
				margin-top: 0;
			}
		}
	}

	.details-container {
		margin: 4em;

		.detail-title {
			text-shadow: 0 1px 1px rgba(0, 0, 255, 0.5);
			margin-bottom: 0.5em;
		}

		.detail-years {
			margin-bottom: 1.5em;
		}
	}
}

.my-gallery-class {
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	li {
		width: 33%;
		box-sizing: border-box;
		padding: 0.75em;
		box-shadow: -2px 2px 7px #aaa;

		a, a:visited {
				color: #000;
				text-decoration: none;
			}

		.drummer-pic, .drummer-caption {
			width: 100%;
		}

		.drummer-caption {
			padding-top: 0.5em;
			margin: 0;
			font-weight: bold;
			font-size: 1.5em;
		}

		.drummer-band {
			font-size: 1em;
			padding-left: 1em;
		}
	}
}

// .list-container, .favorites-container {

// 	// .icon-container {
// 	// 	padding: 2em;

// 	// 	margin: 0 auto;

// 		// .icon-big-box {
// 		// 	padding: 0.75em;
// 		// 	box-shadow: -2px 2px 7px #aaa;
// 		// 	margin: 0 auto 2em auto;

// 		// 	.icon-box {
// 		// 		margin: 0 auto;
// 		// 		text-align: center;

// 		// 		.photo-box {
// 		// 			text-align: center;

// 		// 			.material-icons.md-36 {
// 		// 				font-size: 36px;

// 		// 			}

// 		// 			a, a:visited {
// 		// 				color: #000;
// 		// 				text-decoration: none;
// 		// 			}

// 		// 			img {
// 		// 				max-width: 100%;
// 		// 			}

// 		// 			p {
// 		// 				border-top: 1px solid #bbb;
// 		// 				padding-top: 0.5em;
// 		// 				margin: 0;
// 		// 				font-weight: bold;
// 		// 				font-size: 1.5em;
// 		// 			}
// 		// 		}
// 		// 	}
// 		// }
// 	}
// }

// .list-container {
// 	margin: 2em;
// }

footer {
	background-color: #D5E5F2;
	border-top: 4px solid #555;
		margin: 0;
		padding: 1em;

	p {
		padding-left: 2em;

		a {
			color: #0F2859;

			&:hover {
				color: #5EA4BF;
			}
		}
	}
}

input, textarea {
	margin-top: 0.25em;
	border: 1px solid #979797;
	background: #fff;
	width: 60%;
	padding: 8px;
	font-size: 1em;
	font-weight: bold;
	color: #666;
	border: none;
	background-color: #fff;
	border-radius: 4px;

	&:focus {
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
		-webkit-animation: pulse 1.5s infinite ease-in-out;
	}
}

button {
	margin-top: 2.5em;
	border: 1px solid #979797;
	font-size: 1em;
	padding: 0.5em;
	background: #fff;
	width: 40%;
	padding: 8px 15px;
	font-weight: bold;
	line-height: 1;
	color: #444;
	border: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
	background-color: #fff;
	border-radius: 23px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

	&:hover, &:focus {
		-webkit-animation: pulse 1.5s infinite ease-in-out;
	}
}

.stripes.bottom {
	padding-top: 0;
	display: block;
	width: 100%;

	.stripe.d {
		float: left;
		background: #00ADEE;
		height: 0.75em;
		width: 20%;
	}

	.stripe.r {
		float: left;
		background: #44C7F4;
		height: 0.75em;
		width: 20%;
	}

	.stripe.u {
		float: left;
		background: #ABE0F9;
		height: 0.75em;
		width: 20%;
	}

	.stripe.m {
		float: left;
		background: #F186B6;
		height: 0.75em;
		width: 20%;
	}

	.stripe.s {
		float: left;
		background: #EB008B;
		height: 0.75em;
		width: 20%;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.1);
	}

	50% {
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.99);
	}

	100% {
		-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.1);
	}
}

// @media screen and (min-width: 778px) {
// 	.icon-big-box {
// 			float: left;
// 			margin-left: 2em;
// 			margin-right: 2em;

// 			.icon-box {
// 				margin: 0 auto;
// 				text-align: center;
// 			}
// 		}
// }

@-ms-viewport{
  width: device-width;
}
